{{#if logoIsShowing}}
  <button class="ui button" {{action "hideLogo"}}>
    Show Logo
  </button> 
  <br><br>
  <img class="ui centered image" src="/public/images/uwindsor_logo.png" alt="image not found" >
{{else}}
  <button class="ui button" {{action "showLogo"}}>
    Show Logo
  </button> 
{{/if}}