<div class="uwinlogoblue">
    <img src="assets/images/uwindsor_logo.jpg" class="img-responsive center-block" >
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"/> Home</a></li>
      <li><a href="/posts">Post</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    
    <ul class="nav navbar-nav pull-right">
      <li><a href="/about" class="pull-right text-right">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
