<div class="page-header">
  <h2>Contact Information</h2>
</div>

<div class="page-content">
  <h3>Ittsel Ali</h3>
  {{#link-to "contact.email"}}
    <span class="glyphicon glyphicon-envelope"/> Email
  {{/link-to}}
  <br>
  {{#link-to "contact.phone"}}
    <span class="glyphicon glyphicon-earphone"/> Phone
  {{/link-to}}
</div>
<br><br><br><br><br><br><br>
{{outlet}}