<div class="page-header">
  <h2>Welcome to my Home Page</h2>
</div>

<div class="page-content">
  <p>I am learning Ember.js to be equipped by one of the powerful and embitios WebDevelopment Framework</p> 
</div>